<%- include ../ejs_files/header.ejs %>
<%- include ../ejs_files/main_nav.ejs %>
<!--The Main content-->
<main class="container">
    <div class="row">
    <div class="col-md-offset-3 col-md-10">
    <h1><%= title %></h1>
    <a href="/tasks/add" class="btn btn-primary" role="button">
        <i class="fas fa-plus-circle"></i> Add a new Task </a>
    <br>
    <br>
    <table class= "table table-bordered table-striped table-hover">
    <tr class="d-flex">
      <th class="text-center col-2">Task</th>
      <th class="text-center col-2">Assigned Date</th>
      <th class="text-center col-1">Due Date</th>
      <th class="text-center col-5">Details</th>
      <th class="text-center col-1"></th>
      <th class="text-center col-1"></th>
    </tr>
    <!--Repeat the template-->
    <% for(let count=0; count < taskmanager.length; count ++) { %>
        <tr class="d-flex">
          <td class="text-center col-2"><%= taskmanager[count].Task %></td>
          <td class="text-center col-2"><%= taskmanager[count].Assigned_date %></td>
          <td class="text-center col-1"><%= taskmanager[count].Due_Date %></td>
          <td class="text-center col-5"><%= taskmanager[count].Details %></td>
         
          <td class="text-center col-1">
            <a href="/task/edit/<%= taskmanager[count]._id %>"
              class="btn btn-primary"
            <i class="fas fa-pencil-alt"></i> Edit </a>
          </td>

           <td class="text-center col-1">
            <a href="/task/delete/<%= taskmanager[count]._id %>"
              class="btn btn-danger"
            <i class="fas fa-trash-alt"></i> Delete </a>
          </td>

        </tr>
    <% } %>
    </table>
</div>
</div>
</main>
<%- include ../ejs_files/bottom_nav.ejs %>
<%- include ../ejs_files/footer.ejs %>